<div class="content-page container">

<h1>Thank You!</h1>

<p><strong>Your Card Was Approved.</strong></p>

<p>We'll ship your base kit out immediately so you can get it wrapped up and ready to go. We just need to go serve our UPS robots some hot cider. It's cold in NYC right now.</p>

<p>You'll be getting an email notification letting you know your payment information was processed, and someone will be in touch with a tracking number for your package.</p> 

<p>Don't forget to either <%= link_to "order a subscription", subscribe_path %> for yourself, or <%= link_to "gift one", gift_path %> for a loved one!</p> 


</end>