<%=render 'layouts/navigation' %> 

<div class="content-page container">

	<h1>Thank you!</h1>
	<p>Your card has been approved.</p>

	<p>Thank you so much for your business. We will be reaching out to you soon.</p>

	<p>Questions? Contact us at <a href="mailto:support@ucanbe.com?subject=UCanBe: Customer Question">support@ucanbe.com</a></p>

</end>	