<div class="content-page container">

<h1>Thank You!</h1>

<p><strong>Your card has been approved.</strong></p>

<p>We'll ship your starter kit out immediately.</p>

<p>You'll be getting an email notification soon letting you know your payment information was processed, and someone will be in touch with a tracking number for your package.</p> 

<p>Don't forget to either <%= link_to "order a subscription", subscribe_path %> for yourself, or <%= link_to "gift one", gift_path %> for a loved one!</p> 


</end>