<div class="content-page container">

	<div class="subscribestep">
    <div class="row">
      <div class="col-sm-12">
        <h3>Choose Lesson Path</h3>
        <p class="lead">UCanBe builds project paths around existing toy platforms. You will want to order a starter kit for your path first if you don't already have one.</p> 
      </div>
    </div>
    <div class="row">
    	<div class="subscribeunit">
	      <div class="col-sm-12">
	        <span class="pathicon glyphicon glyphicon-flash"></span>
	        <h5>Electrical Engineering <small><%= link_to "(uses LittleBits)", aboutlittlebits_path %></small></h5>
	        <div class="ui-group-buttons">
	        	<%= link_to "Get Starter Kit", "https://app.moonclerk.com/pay/ouncaf3il7", target: "_blank", class: "btn btn-default btn-lg" %>
	          <div class="or or-lg"></div>
	          <%= link_to "Subscribe!", "https://app.moonclerk.com/pay/2cwwx0c0tb0", target: "_blank", class: "btn btn-primary btn-lg" %>
	        </div>
	      </div>
	    </div>	    
    </div>
    <div class="row">
	    <div class="subscribefooter">
	      <div class="col-sm-12">
	      	<p>Order starter kit by December 10th to have it in time for Xmas!</p>
	      	<p>Monthly subscription kits start shipping January 15th.</p>
	      </div>
	    </div>
    </div>
  </div>

  <div class="container">
  	<hr>
  	<h4>Nothin' interest you?</h4>
		<%= render 'layouts/mailchimpsignup' %> 
	</div>


</div>