<div class="content-page container">

	<%= render 'layouts/bcsubscribe' %>

	<div class="subscribestep">
    <div class="row">
      <div class="col-sm-12">
        <h3>Choose Plan</h3>
        <p class="lead">First project boxes ship on January 15th.</p>
        <p>Want something under the tree on Christmas? Order the LittleBits Base Kit by December 10th. We will send it to you pronto.</p>
      </div>
    </div>
    <div class="row">
    	<div class="subscribeunit">
	      <div class="col-sm-4">
	      	<a href="https://app.moonclerk.com/pay/2cwwx0c0tb0" class="btn sub-btn">
		        <img src="https://s3.amazonaws.com/ucanbe-production/images/subscribe/01-box-200x300.png" class="img-responsive" alt="...">
		        <h5>Monthly Subscription</h5>
		        <p class="lead">$29.95/Month</p>
	      	</a>
	      </div>
	    </div> 
	    <div class="subscribeunit">
	      <div class="col-sm-4">
		      	<a href="https://app.moonclerk.com/pay/ouncaf3il7" class="btn sub-btn well">
			        <img src="https://s3.amazonaws.com/ucanbe-production/images/toys/littlebits/littlebits_base.jpg" class="img-responsive" alt="...">
			        <h5>LittleBits Base Kit</h5>
			        <p class="lead">$99</p>
		      	</a>
	      </div>
	    </div>    	    
    </div>
    <div class="row">
	    <div class="subscribefooter">
	      <div class="col-sm-12">
	      	<p>Free shipping. Subscriptions billed monthly. Cancel anytime.</p>
	      </div>
	    </div>
    </div>
	</div>

</div>