<%=render 'layouts/navigation' %> 

<div class="content-page container">

	<%= render 'layouts/bcsubscribe' %>

	<div class="subscribestep">
    <div class="row">
      <div class="col-md-12">
        <h3>Choose Plan</h3>
        <p class="lead">First boxes ship on January 15th.</p>
        <p>Want something under the tree on Christmas? Order the LittleBits Base Kit by December 10th. We will send it to you pronto.</p>
      </div>
    </div>
    <div class="row">
	    <div class="subscribeunit">
	      <div class="col-md-4">
	        <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
	        <h5>Monthly Subscription</h5>
	        <p class="lead">$29/Month</p>
	        <%= link_to "Yup", subscribe_littlebits_onemonth_path, class: "btn btn-primary" %> 
	      </div>
	    </div>
	    <div class="subscribeunit">
	      <div class="col-md-4">
	      	<div class="well">
		      	<img src="http://placedog.com/300/200" class="img-responsive" alt="...">
		        <h5>LittleBits Base Kit</h5>
		        <p class="lead">$99</p>
		        <%= link_to "Yup", buy_littlebitsstarter_path, class: "btn btn-default" %> 
		      </div>
	      </div>
	    </div>
	    <div class="subscribeunit">
	      <div class="col-md-4">
	      </div>
	    </div>	    
    </div>
    <div class="row">
	    <div class="subscribefooter">
	      <div class="col-md-12">
	      	<p>Free shipping. Subscriptions billed monthly. Cancel anytime.</p>
	      </div>
	    </div>
    </div>
	</div>

</div>