<div class="content-page container">

	<div class="subscribestep">
    <div class="row">
      <div class="col-sm-12">
        <h3>Subscribe to Monthly Kits</h3>
        <p class="lead">You are about to subscribe to monthly kits of <span class="glyphicon glyphicon-flash"></span>Electronic Engineering with LittleBits.</p>
      </div>
    </div>
    <div class="row">
    	<div class="subscribeunit">
	      <div class="col-sm-12">
	        <img src="https://s3.amazonaws.com/ucanbe-production/images/subscribe/01-box-200x300.png" class="img-responsive" alt="...">
	        <%= link_to "Subscribe for $29.95 / month", "https://app.moonclerk.com/pay/2cwwx0c0tb0", target: "_blank", class: "btn btn-primary btn-lg" %>
	      </div>
	    </div>
      <div class="subscribefooter">
        <div class="col-sm-12">
          <p>Shipping included. Cancel anytime.</p>
        </div>
      </div>
    </div>
  </div>