<div class="content-page container">

	<h1>Thank you!</h1>

	<p>Someone will reach out soon to welcome you to UCanBe.</p> 

	<p>If you have questions in the mean time, please email <a href="mailto:support@ucanbe.com?subject=UCanBe: I have a question">support@ucanbe.com</a>.</p> 

</div>