<div class="content-page container">

<h1>Thank you!</h1>

<p><strong>Your card has been approved.</strong></p>

<p>You'll get an email notification saying your card was processed, and someone will reach out soon to welcome you and provide you with more information on how to manage your account.</p> 

<p>If you haven't yet, we suggest purchasing a <%= link_to "starter kit", "https://app.moonclerk.com/pay/ouncaf3il7", target: "_blank" %>.</p> 

<p>If you have questions in the mean time, please email <a href="mailto:support@ucanbe.com?subject=UCanBe: Just Saying Hi">support@ucanbe.com</a>.</p> 

</end>