<div class="content-page container">

<h1>Thank you!</h1>

<p><strong>Your card has been approved.</strong></p>

<p>Thank you for purchasing the monthly subscription to the UCanBe box for LittleBits. You'll get an email notification saying your card was processed, and someone will reach out soon to welcome you and provide you with more information on how to manage your account.</p> 

<p>Unless you've already got some laying around at home, we suggest purchasing a <%= link_to "LittleBits Starter Kit" buy_littlebitsstarter_path %> so your kids can continue to play around before and after they complete their projects.</p> 

</p>If you have questions in the mean time, please email <a href="mailto:support@ucanbe.com?subject=UCanBe: Just Saying Hi">support@ucanbe.com</a>.</p> 

</end>