<% provide(:title, 'Thank You!') %> 
<% provide(:description, 'I just signed up to get monthly STEM projects delivered to my door!') %>

<div class="content-page">

	<div class="container">

		<h1>Thank you!</h1>

		<p class="lead">You are all set to start your Learn by Building journey with UCanBe and littleBits.</p> 

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 well">
				<p class="lead">Time to let the world know!</p>

					<a href="https://twitter.com/share" class="twitter-share-button" data-size="medium" data-url="https://www.ucanbe.com/" data-text="I'm about to start my #learnbybuilding journey with @ucanbebox. Come join me!" data-count="none">&nbsp;</a>

					<div class="fb-share-container">
						<div class="fb-share-button" data-href="https://ucanbe.com" data-width="500" data-type="button"></div>
						<div id="fb-root"></div>
					</div>

			</div>
		</div>

		<p class="lead">Someone will reach out soon and welcome you to UCanBe. If you have questions in the mean time, please email <a href="mailto:support@ucanbe.com?subject=UCanBe: I have a question">support@ucanbe.com</a>.</p> 

	</div>

</div>