<% provide(:title, 'About') %>
<% provide(:description, 'Our mission is to make STEM education simple and fun') %>
 
<!-- Static Content -->
<div class="static">
	<div class="container static">

		<div class="row">
			<div class="col-lg-12">
				<h2>About UCanBe</h2>
				<p>UCanBe is based out of New York, NY and is built by <a href="http://learningedgelabs.com/">Learning Edge Labs</a>. A group of educators, hackers, and disruptors trying to bring change in education.</p>
			</div>
			<hr>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Our Goal</h2>
				<p>We believe STEM (Science, Technology, Engineering, Mathematics) education starts at home. Our goal is to make that education simple & fun for both kids and parents.</p>

				<h2>Guiding Principles</h2>
				<p>We use four guiding principles when making decisions:</p>
				<p>1. <strong>Inspire</strong> interest in building and creating.</p>
				<p>2. <strong>Teach</strong> innovator skills of observing, questioning, experimenting, and critical thinking.</p>
				<p>3. <strong>Make it easier</strong> on the parent by packaging up everything needed each month and not requiring expertise.</p>
				<p>4. <strong>Reduce waste</strong> by creating projects around the best existing building and software toys.</p> 			

				<h2>Monthly Kit Criteria</h2>
				<p>We keep three kid and parent approved criteria in mind when designing our project kits:</p>
				<p>1. Is it fun, cool, and relevant?</p>
				<p>2. Does it teach core STEM principles that can be applied in real life?</p>
				<p>3. Can parts be re-used for ongoing and iterative learning?</p>

			</div>
		</div>
					
	</div>
</div>