<div class="content-page">
	<div class="container">	
		<h1>About UCanBe</h1>
		<div class="text-left">
			<h3>Our Mission</h3>
			<p>We believe STEM (Science, Technology, Engineering, Mathematics) education starts at home. Our mission is to make that education simple & fun:</p>  
			<ul class="icon">
				<li class="wrench"><strong>Inspire</strong> interest in building and creating</li>
				<li class="wrench"><strong>Teach</strong> children innovator skills of observing, questioning, experimenting, and critical thinking</li> 
				<li class="wrench"><strong>Make it easier</strong> by packaging up everything needed each month</li>
				<li class="wrench"><strong>Waste not</strong> by creating projects around the best existing building and software platforms</li>  
			</ul>

			<h3>What's in a Project Kit?</h3>
			<p>Each month you will receive a UCanBe Project Kit with all the raw materials, toy parts, teaching moments, and instructions needed for a fun, foundational STEM project. Each project can be assembled in under 90 minutes, and can be re-configured and re-deployed in multiple ways, wherever your imagination takes you. We have 3 criteria when designing a Project Kit:</p>
			<ul class="icon">
				<li class="wrench">Is it fun and cool? If it races, explodes, combusts, accelerates, crashes, or oozes, and turns kids into creators & innovators, then it’s fun and cool.</li>
				<li class="wrench">Does it teach you core STEM principles that you can apply in real life?</li>
				<li class="wrench">Can it be re-used for ongoing and iterative learning?</li>
			</ul>
			<p class="alert alert-warning"><strong>Important Note:</strong> To get started, you will need a Base Kit, purchased separately. The Base Kit has the foundational components you will need for your Project Kits within your chosen field of learning and learning platform (eg, Electronics Engineering using the littleBits building platform). As you grow with us, you will need different Base Kits for different learning platforms. Think of the Base Kits as the necessary skeleton and the UCanBe boxes as the flesh and muscles that bring your projects to life.</p>

			<div class="row button-row">
				<div class="col-xs-12">
					<%= link_to "Get Started", subscribe_path, class: "btn btn-primary btn-lg" %>
				</div>
			</div>
			
			<h3>Why Start with Electronics?</h3>
			<p>Electronics (making things work using a power source) is our first Learning Theme. Electronic engineering is critical in some of today's most exciting new inventions, like GPS and electric power generation. Besides being super fun and cool, electronics engineering introduces many core STEM principles: energy sources, circuits, motion & velocity, friction, geometry, and much more. <%= link_to "UCanBe Electronics", subscribe_path %> program challenges students to design and build circuits that can power “on” anything they imagine, starting with a Smart Car.</p> 

			<h3>Who is this product for?</h3>
			<p>Everyone. But best for elementary age children, 6 - 12. We all have an intrinsic curiosity about how things work. Just as toddlers love blocks and kids love Legos; designing and building are key components of play. UCanBe is the next step for kids who want to create and bring learning to life. No prior expertise is necessary. If you are already a budding engineer, UCanBe provides challenges to confound and inspire you.</p>
		</div>
	</div>	
</div>