<div class="content-page container">

	<h1><span class="glyphicon glyphicon-flash"></span>Electrical Engineering and LittleBits</h1>
	<p class="lead">Build self-driving cars, electric guitars, and more!</p>

	<div class="col-md-4 col-md-push-8">
		<div class="text-left">
			<div class="well small">

				<h4>Start In Time For Christmas!</h4>
				<p>Order a LittleBits starter kit by December 10th so Santa can deliver by Christmas Day. <%= link_to "Get starter kit.", "https://app.moonclerk.com/pay/ouncaf3il7" %> </p> 
				

				<h4>Want to Subscribe?</h4>
				<p>Shipping starts January 15<sup>th</sup>. Only $29.95/month. Cancel anytime.</p>
				<%= link_to "Get Yours", subscribe_path, class: "btn btn-sm btn-primary" %>
				<%= link_to "Give Gift", gift_path, class: "btn btn-sm btn-default" %> 

			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-pull-4">
		<div class="text-left">
			<h3>About This Path</h3>
			<p>This UCanBe Lesson Path provides curated lessons and projects each month built around LittleBits. LittleBits is an opensource library of electronic modules that simply snap together with tiny magnets. A thriving community of creators and tinkerers ensure that there is no shortage of modules and project ideas.</p>

			<h3>Build your own self-driving car!</h3>
			<p>Our very first project based on LittleBits will ship on January 15th. We're working hard to put together a lesson plan so you and your child can do your best impression of Google engineers and build you own self-driving car. How cool is that?</p>

			<h3>We Handle Everything</h3>
			<p>We include any additional LittleBit modules you might need outside of the starter kit and any other materials needed to complete the month's activity. We also include instructions for the parent, a bookley of key learning points and conversation starters, and links to additional information online.</p>

		</div>
	</div>
</div>