<% provide(:title, 'About') %>
<% provide(:description, 'Our mission is to make STEM education simple and fun') %>
 
<div class="content-page">
	<div class="container">	
		<h1>About UCanBe</h1>
		<div class="text-left">
			<h3>Our Mission</h3>
			<p>We believe STEM (Science, Technology, Engineering, Mathematics) education starts at home. Our mission is to make that education simple & fun:</p>  
			<ul class="icon">
				<li class="wrench"><strong>Inspire</strong> interest in building and creating</li>
				<li class="wrench"><strong>Teach</strong> children innovator skills of observing, questioning, experimenting, and critical thinking</li> 
				<li class="wrench"><strong>Make it easier</strong> by packaging up everything needed each month</li>
				<li class="wrench"><strong>Waste not</strong> by creating projects around the best existing building and software toys</li>  
			</ul>

			<h3>What's in a Project Kit?</h3>
			<p>Each month you will receive a UCanBe Project Kit with all the raw materials, additional toy parts, teaching moments, and instructions needed for a fun, foundational STEM project. Each project can be assembled in under 90 minutes, and can be re-configured and re-deployed in multiple ways, wherever your imagination takes you.</p>

			<p>We have 3 criteria when designing a Project Kit:</p>
			<ul class="icon">
				<li class="wrench">Is it fun, cool, and relevent?</li>
				<li class="wrench">Does it teach core STEM principles that can be applied in real life?</li>
				<li class="wrench">Can parts be re-used for ongoing and iterative learning?</li>
			</ul>

			<h3>What is not in a project kit?</h3>
			<p><strong><span class="ectocooler">A BIG IMPORTANT NOTE.</span></strong> Project kits are designed and built around existing toys (for example, a littleBits Base Kit). We will make this very clear when you are purchasing a subscription. If you do not own the toys we're building around, no worries, order it from us and we'll ship everything you need with your first project kit.</p> 

			<p>We also don't include things that would be impractical and wasteful to send each month - like scissors and tape.</p>

			<h3>Why do I need to buy base kits?</h3>
			<p>We don't think people need more junk to throw away. We also think by using a particular set of tools consistently you will not only get more milage out of an initial investment, but also simultaneously level up your abilities, leading to you doing bigger and better things.</p>
			
			<h3>Why Start with Electronics?</h3>
			<p>Electronics (making things work using a power source) is our first Learning Theme. Electronic engineering is critical in some of today's most exciting new inventions, like GPS and electric power generation. Besides being super fun and cool, electronics engineering introduces many core STEM principles: energy sources, circuits, motion & velocity, friction, geometry, and much more. UCanBe Electronics program challenges students to design and build circuits that can power “on” anything they imagine, starting with a Smart Car.</p> 

			<h3>Who is this product for?</h3>
			<p>Everyone. But best for elementary age children, 6 - 12. We all have an intrinsic curiosity about how things work. Just as toddlers love blocks and kids love Legos; designing and building are key components of play. UCanBe is the next step for kids who want to create and bring learning to life. No prior expertise is necessary. If you are already a budding engineer, UCanBe provides challenges to confound and inspire you.</p>
		</div>
	</div>	
</div>