<div class="content-page container">

	<h1>About UCanBe</h1>
	<p class="typer">Inspire your <span id="kid" data-typer-targets="grandson,niece,youngest,granddaughter,oldest,nephew,kid,child">child</span> to <span id="dream" data-typer-targets="be an architect,launch a rocketship,build skyscrapers,start the next big tech company,be an electrical engineer,build robots,be a rocket scientist">be a rocket scientist</span></p>


	<div class="col-md-4 col-md-push-8">
		<div class="text-left">
			<div class="well">
				<h3>Order A Kit</h3>
				<p>Lesson kits start shipping January 15<sup>th</sup> for only $29.95/month.</p>
				<%= link_to "Get Started", subscribe_path, class: "btn btn-sm btn-primary" %>
				<%= link_to "Get Gift", gift_path, class: "btn btn-sm btn-default" %>  
			</div>
			<hr>
			<div>
				<h4>Have Questions?</h4>
				<p>Don't hesitate to <a href="mailto:support@ucanbe.com?subject=UCanBe: General Questions">write to us</a>. We'd love to answer them.</p>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-md-pull-4">
		<div class="text-left">

			<h3>What are "tech toolkits", "starter kits", and "monthly kits?"</h3>
			<p>Tech toolkits are the toys we build projects around each month. Starter kits are a collection of parts toy manufacturers package together as a means of introducing kids to their product. Monthly kits are the projects we put together each month and ship to your door.</p> 

			<h3>Why do I need to get a starter kit?</h3>
			<p>We use those starter kits as a reference point when we create our monthly kits. This way, when we send our monthly kits, we add in an additional toy part or two rather than a dozen. This keeps our subscriptions reasonably priced, and keeps you from amassing hundreds of additional parts.</p>

			<h3>What's in a monthly kit?</h3>
			<p>Each monthly UCanBe kit contains all the raw materials, toy parts, teaching moments, and instructions needed for a very exciting yet simple STEM project to do with your child. Each project is designed to be about a 90 minute weekend or after school parent/child effort that exposes children to fun engineering projects&mdash;hopefully sparking an interest in STEM endeavors and building a passion to keep pursuing and building important 21st century skills.</p>

			<h3>What we strive to do</h3>
			<p>We believe STEM (Science, Technology, Engineering, Mathematics) education starts at home. We strive to:</p>  
			<ul>
				<li><strong>Inspire</strong> interest in building and creating</li>
				<li><strong>Teach</strong> children to lead large undertakings</li> 
				<li><strong>Make it easier</strong> by packaging up everything needed each month</li>
				<li><strong>Waste not</strong> by creating projects around the best existing toy platforms</li>  
			</ul>

			<h3>Who we are</h3>
			<p>UCanBe is a <%= link_to "Learning Edge Labs", "http://learningedgelabs.com" %> product. We're a small but mighty team of education professionals, parents, hackers, tinkerers, and life-long learners.</p>

			<div class="row team">
				<div class="col-sm-3">
					<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/don.jpeg" class="img-circle" width="75">
					<h5>Don Burton<br><small>CEO</small></h5>
				</div>
				<div class ="col-sm-3">
					<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hana.jpeg" class="img-circle" width="75">
					<h5>Hana Schank<br><small>Lesson Editor</small></h5>
				</div>
				<div class="col-sm-3">
					<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/jake.jpeg" class="img-circle" width="75">
					<h5><a href="http://jdsimms.com/">Jake Simms</a><br><small>Product and Customer Development</small></h5>
				</div>
				<div class="col-sm-3">
					<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/daniel.jpeg" class="img-circle" width="75">
					<h5>Daniel Zahler<br><small>Operations</small></h5>
				</div>
			</div>
		</div>
	</div>

</div>