<% provide(:title, 'Contact') %> 
<% provide(:description, 'We are here to help answer any questions and solve any problems.') %>


<!-- Static Content -->
<div class="static">
	<div class="container static">

		<div class="row">
			<div class="col-lg-12">
				<h2>Contact UCanBe</h2>
				<p>We're here to help answer any questions and solve any problems. We're also here to listen to what you like and don't like about UCanBe so we can improve your experience.</p>
			</div>
			<hr>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>For Support</h2>
				<p>We're around at <a href="mailto:support@ucanbe.com">support@ucanbe.com</a> to answer questions from 10AM - 7PM EST. Please allow us 24 hours to get back to you. You can also tweet to us <a href="https://twitter.com/ucanbebox">@ucanbebox</a>, but we don't check that as often as our email.</p>

				<h2>Follow Us</h2>
				<p>We have other homes around the internet. In addition to talking to us on <a href="https://twitter.com/ucanbebox">Twitter</a>, you can find us on <a href="https://www.facebook.com/UCanBeBox">Facebook</a> and our blog is on <a href="http://ucanbe.tumblr.com/">Tumblr</a>.</p>


				<h2>For packages and letters</h2>
				<p>We work out of the TechStars NYC offices. The address is 36 Cooper Square, 6th floor, New York, NY, 10003</p>

				<h2>Educators and Press Contact</h2>
				<p>If you are an educator and would like to get in touch, please email <a href="mailto:educators@ucanbe.com">educators@ucanbe.com</a>.</p>
				<p>If you are a member of the press, please send inquiries to <a href="mailto:press@ucanbe.com">press@ucanbe.com</a>.</p>

				<h2>Project Feedback</h2>
				<p>We want to know how our monthly projects are working for you. Don't be shy. <a href="mailto:support@ucanbe.com?subject=UCanBe: Project Feedback">Tell us</a> what's working and what isn't.</p>

				<h2>Subscribe/Unsubscribe Help</h2>
				<p>We can answer any questions on your subscription, make edits to credit card and address info, or cancel your plan. <a href="mailto:support@ucanbe.com?subject=UCanBe: Subscription Support">Tell us what you need</a> and we'll get back fast.</p>

				<h2>Locate Shipment Help</h2>
				<p>We ship monthly projects on the 15th of each month, starting January 15, 2014. When we send your box, you will get an email with a confirmation and tracking number. If you think your box should have arrived and it hasn't yet, <a href="mailto:support@ucanbe.com?subject=UCanBe: Locate Box">tell us</a> and we will help track it down.</p>


			</div>
		</div>
					
	</div>
</div>
