<div id="contact" class="container">

	<h1>Contact and Support</h1>
	<p class="lead">Don't be a stranger! We're here to help answer any questions and solve any problems. We'd also love to hear any praise and criticism so we can improve your experience with UCanBe.</p>

	<div class="col-md-4 col-md-push-8">
		<div class="well">
			<h3>Contact</h3>

			<address>
			  <strong>Email Us</strong><br>
			  <a href="mailto:support@ucanbe.com?subject=UCanBe: Just Saying Hi">support@ucanbe.com</a>
			</address>

			<address>
				<strong>Follow Us</strong><br>
				<ul class="list-inline no-space-bottom">
				  <li><a href="https://twitter.com/UCanbe">Twitter logo</a></li>
				  <li><a href="https://facebook.com/">Facebook logo</a></li>
				  <li><a href="https://pinterest.com/">Pinterest logo</a></li>
				  <li><a href="https://tumblr.com/">Tumblr logo</a></li>
				</ul>
			</address>

			<address>
			  <strong>UCanBe</strong><br>
			  1376 Pequot Ave<br>
			  Southport, CT 06890<br>
			  <!--<abbr title="Phone">P:</abbr> (555) 555-5555-->
			</address>
		</div>
	</div>


	<div class="col-md-8 col-md-pull-4">
		<div class="text-left">
			<h3>Lesson Feedback</h3>
			<p>We search for great ideas and speak with child development experts to come up with our monthly box projects. That's great, but we want to know how they are working for <em>your</em> family. Don't be shy, <a href="mailto:support@ucanbe.com?subject=UCanBe: Lesson Feedback">please tell us</a> what's working and what isn't.</p>

			<h3>Subscribe/Unsubscribe</h3>
			<p>Have a question about a subscription? Need help changing information, or (*gulp*) cancelling a subscription? <a href="mailto:support@ucanbe.com?subject=UCanBe: Subscription Inquery">Please reach out</a> any time, day or night for help and we'll get back fast.</p>

			<h3>Where's my box?</h3>
			<p>We ship boxes on the 15th of each month, starting January 15, 2014. When we send your box, you will get an email with a confirmation and tracking number you can use to find it. If you think your box should have arrived and it hasn't yet, <a href="mailto:support@ucanbe.com?subject=UCanBe: Locate Box">get in touch</a> and we will help you track it down.</p> 
		</div>
	</div>

</div>

