<% provide(:title, 'Contact') %> 
<% provide(:description, 'We are here to help answer any questions and solve any problems.') %>


<div class="content-page">
	<div class="container">
		<h1>Contact and Support</h1>
		<p class="lead">We're here to help answer any questions and solve any problems. Tell us what you like and don't like about UCanBe so we can improve your experience.</p>

		<div class="col-md-4 col-md-push-8">
			<div class="well">
				<h3>Contact</h3>

				<address>
				  <strong>Email Us</strong><br>
				  <a href="mailto:support@ucanbe.com?subject=UCanBe: Just Saying Hi">support@ucanbe.com</a>
				</address>

				<address>
					<strong>Follow Us</strong><br>
					<ul class="list-inline no-space-bottom">
					  <li><a href="https://www.facebook.com/pages/Ucanbe/664572716907516" target="blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
					  <li><a href="https://twitter.com/ucanbebox" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
					  <li><a href="http://ucanbe.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
					</ul>
				</address>

				<address>
				  <strong>UCanBe</strong><br>
				  36 Cooper Square, 6th Floor<br>
				  New York, NY 10003<br>
				  <!--<abbr title="Phone">P:</abbr> (555) 555-5555-->
				</address>
			</div>
		</div>


		<div class="col-md-8 col-md-pull-4">
			<div class="text-left">
				<h3>Educators and Press</h3>
				<p>If you are an educator and would like to get in touch, please email <a href="mailto:educators@ucanbe.com">educators@ucanbe.com</a>.</p>
				<p>If you are a member of the press, please send inquiries to <a href="mailto:press@ucanbe.com">press@ucanbe.com</a>.</p>

				<h3>Project Feedback</h3>
				<p>We want to know how our Monthly Projects are working for you. Don't be shy. <a href="mailto:support@ucanbe.com?subject=UCanBe: Project Feedback">Tell us</a> what's working and what isn't.</p>

				<h3>Subscribe/Unsubscribe</h3>
				<p>We can answer any questions on your subscription, make edits to credit card and address info, or cancel your plan. <a href="mailto:support@ucanbe.com?subject=UCanBe: Subscription Support">Tell us what you need</a> and we'll get back fast.</p>

				<h3>Locate Box</h3>
				<p>We ship monthly projects on the 15th of each month, starting January 15, 2014. When we send your box, you will get an email with a confirmation and tracking number. If you think your box should have arrived and it hasn't yet, <a href="mailto:support@ucanbe.com?subject=UCanBe: Locate Box">tell us</a> and we will help track it down.</p> 
			</div>
		</div>
	</div>
</div>

