<% provide(:title, 'Curriculum') %> 
<% provide(:description, 'Real Learning, Delivered. The greatest inventors were all tinkerers, experimenters, and builders. Our unique Learn by Building method, while grounded in education psychology research, also uses good common sense regarding how kids learn best.') %>

<div class="content-page">
	<div class="container">
		
		<h1>Real Learning, Delivered.</h1>
		<div class="text-left">
			<h3>Our Curriculum</h3>
			<p>Designed by thought leaders in child development, UCanBe projects deliver:</p>
			<div class="row">
				<div class="col-sm-4">
					<h4><i class="fa fa-book"></i> Concepts</h4> 
					<p>Explain fundamental science and engineering principles in age-appropriate language.<p>
				</div>
				<div class="col-sm-4">
					<h4><i class="fa fa-wrench"></i> Skills</h4> 
					<p>Develop practical competencies, such as observation, diagnosis, debugging, planning & sequencing.</p>
				</div>
				<div class="col-sm-4">
					<h4><i class="fa fa-heart-o"></i> Character</h4> 
					<p>Encourage lifelong learning habits, such as persistence, problem solving, resourcefulness, communication, and more.</p>
				</div>
			</div>

			<h3>Learn by Building&mdash;Why it Works</h3>
			<p>The world's greatest inventors were all tinkerers, experimenters, and builders. Our unique Learn by Building method&mdash;while grounded in education psychology research&mdash;also uses good common sense regarding how kids learn best. The result is a sustained and purposeful love of How Things Work.</p>

			<div class="row">
				<div class="col-sm-3">
					<h5>Spark Interest</h5>
					<ul class="icon">
						<li class="wrench">Select hi-tech, cool projects</li>
						<li class="wrench">Inspire with real people, real stories</li>
						<li class="wrench">Discover new technologies</li>
					</ul>
				</div> 
				<div class="col-sm-3">
					<h5>Play & Tinker</h5> 
					<ul class="icon">
						<li class="wrench">Build exciting projects</li>
						<li class="wrench">Figure out what works and what doesn't</li>
						<li class="wrench">Invent something new</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Dive Deeper</h5>
					<ul class="icon">
						<li class="wrench">Use resources to go in-depth on topics</li>
						<li class="wrench">Develop new theories and hypothesis</li>
						<li class="wrench">Find out the how and why behind each step</li>
					</ul> 
				</div>
				<div class="col-sm-3">
					<h5>Show Off</h5> 
					<ul class="icon">
						<li class="wrench">Tell your friends and family</li>
						<li class="wrench">Share projects</li>
						<li class="wrench">Compete in challenges</li>
					</ul>
				</div>
			</div>

			<h3>Hi-Tech All the Way</h3>
			<p>UCanBe leverages existing and best-in-class STEM learning platforms to super-charge learning. For example, for UCanBe an Eletrical Engineer, LittleBits sets of electrical components are the best place for aspiring EEs to begin. We hope you will re-use and re-imagine existing STEM toy and software platforms to build an infinite number of projects.</p>		

			<p>We are learning too. If you have any feedback or suggestions, we would love to hear from you at <a href="mailto:support@ucanbe.com?subject=UCanBe: Feedback">support@ucanbe.com</a></p>
			
		</div>
	</div>
</div>
