<div class="content-page container">
	
	<h1>Real Learning, Delivered.</h1>
	<div class="text-left">
		<h3>Our Curriculum</h3>
		<p>Designed by leaders in child development, UCanBe projects deliver:</p>
		<ul class="icon">
			<li class="wrench"><strong>Concepts:</strong> Explain fundamental science and math principles in age-appropriate ways using several learning techniques (eg, how electricity works, what is friction).</li>
			<li class="wrench"><strong>Skills:</strong> Build practical and transferable competencies in how to be a 21<sup>st</sup> century STEM leader, such as observation, recording, diagnosis, debugging, planning & sequencing</li>
			<li class="wrench"><strong>Character:</strong> Encourage good lifelong learning habits, such as persistence, problem solving, independence, risk-taking, communication, and more</li>
		</ul>

		<h3>Learn by Building&mdash;Why it Works</h3>
		<p>The world's greatest inventors were all tinkerers, experimenters, and builders. Our unique Learn by Building method&mdash;while grounded in education psychology research&mdash;is also good common sense of how kids learn best. The result...a sustained and purposeful love of How Things Work.</p>

		<div class="row well">
			<div class="col-sm-3">
				<h5>1. Spark Interest</h5>
				<ul class="icon">
					<li class="wrench">Select hi-tech, cool projects</li>
					<li class="wrench">Inspire with real people, real stories</li>
					<li class="wrench">Make it personal</li>
				</ul>
			</div> 
			<div class="col-sm-3">
				<h5>2. Play & Tinker</h5> 
				<ul class="icon">
					<li class="wrench">Experiment with one variable at a time & itereate</li>
					<li class="wrench">Test to failure</li>
					<li class="wrench">Customize your Project</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>3. Dive Deeper</h5>
				<ul class="icon">
					<li class="wrench">Explain "How and Why" at each step</li>
					<li class="wrench">Reach a difficult goal</li>
					<li class="wrench">Use multimedia tools to go deep</li>
				</ul> 
			</div>
			<div class="col-sm-3">
				<h5>4. Show Off</h5> 
				<ul class="icon">
					<li class="wrench">Exhibit your work</li>
					<li class="wrench">Compete in challenges</li>
					<li class="wrench">Get credentials</li>
				</ul>
			</div>
		</div>

		<h3>Hi-Tech All the Way</h3>
		<p>UCanBe leverages existing and best-in-class STEM learning platforms to super-charge learning. For example, for UCanBe an Eletrical Engineer, LittleBits sets of electrical components are the best place for aspiring EEs to begin. We hope you will re-use and re-imagine existing STEM toy and software platforms to build an infinite number of projects.</p>		

		<p>We are learning too. If you have any feedback or suggestions, we would love to hear from you at <a href="mailto:support@ucanbe.com?subject=UCanBe: Feedback">support@ucanbe.com</a></p>