<div class="content-page container">
	
	<h1>How We Teach</h1>
	<div class="text-left">
		<h3>Our Curriculum</h3>
		<p>Designed by leaders in cognitive development, UCanBe projects impact learners in three pivotal ways:</p>
		<ul class="icon">
			<li class="wrench"><strong>Concepts:</strong> Explain fundamental science and math principles in age-appropriate ways using several learning techniques</li>
			<li class="wrench"><strong>Skills:</strong> Build practical and transferable competencies in how to be a 21<sup>st</sup> century STEM leader, such as observation, recording, diagnosis, debugging, planning & sequencing</li>
			<li class="wrench"><strong>Character:</strong> Ecourage good lifelong learning habits, such as persistence, problem solving, independence, risk-taking, communication, and more</li>
		</ul>

		<h3>Our Learning Model</h3>
		<p>We have created a unique Learn by Building approach based on the last 30 years of tremendous research developments in human consciousness, psychology and cognitive development. Our approach extends beyond our Project Kits to a sustained and purposeful engagement in How Things Work.</p>

		<div class="row well">
			<div class="col-sm-3">
				<h5>Build Interest</h5>
				<ul class="icon">
					<li class="wrench">Select real world, cool projects</li>
					<li class="wrench">Tie into aspriations & role models</li>
					<li class="wrench">Connect with prior knowledge</li>
				</ul>
			</div> 
			<div class="col-sm-3">
				<h5>Learn by Building</h5> 
				<ul class="icon">
					<li class="wrench">Tinkering is good</li>
					<li class="wrench">Explain "How" and "Why" at each step</li>
					<li class="wrench">Test 1 variable at a time and itereate</li>
					<li class="wrench">Test to failure</li>
					<li class="wrench">Model the skill</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Build Purpose</h5>
				<ul class="icon">
					<li class="wrench">Reach project goals</li>
					<li class="wrench">Document outcomes</li>
					<li class="wrench">Tie to real world issues</li>
				</ul> 
			</div>
			<div class="col-sm-3">
				<h5>Make A Difference</h5> 
				<ul class="icon">
					<li class="wrench">Complete challenges to practive & refine</li>
					<li class="wrench">Share portfolio of work</li>
					<li class="wrench">Teach another</li>
					<li class="wrench">Achieve "levels"</li>
				</ul>
			</div>
		</div>

		<p>We are learning too. If you have any feedback or suggestions, we would love to hear from you at <a href="mailto:support@ucanbe.com?subject=UCanBe: Feedback">support@ucanbe.com</a></p>