<% provide(:title, 'Curriculum') %> 
<% provide(:description, 'Real Learning, Delivered. The greatest inventors were all tinkerers, experimenters, and builders. Our unique Learn by Building method, while grounded in education psychology research, also uses good common sense regarding how kids learn best.') %>

<!-- Static Content -->
<div class="static">
	<div class="container static">

		<div class="row">
			<div class="col-lg-12">
				<h2>Learn by building&mdash;Why it works</h2>
				<p>Building things makes gears turn, literally (and figuratively). The world's greatest inventors were all tinkerers, experimenters, and builders. Our Learn by Building approach&mdash;while grounded in education psychology research&mdash;also uses good common sense regarding how kids learn best. The result is a sustained and purposeful love of how things work.</p>
			</div>
			<hr>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>How we do it</h2>
				<p>UCanBe applies a four part framework to existing and best-in-class STEM learning platforms to super-charge learning. We hope you will be inspired to re-use and re-imagine existing STEM toy and software platforms to build an infinite number of projects in addition to ours.</p>		
			</div>
		</div>
		<div class="row approach">
			<div class="col-sm-3">
				<h5>Spark Interest</h5>
				<ul class="icon">
					<li class="wrench">Select hi-tech, cool projects</li>
					<li class="wrench">Inspire with real people, real stories</li>
					<li class="wrench">Discover new technologies</li>
				</ul>
			</div> 
			<div class="col-sm-3">
				<h5>Play & Tinker</h5> 
				<ul class="icon">
					<li class="wrench">Build exciting projects</li>
					<li class="wrench">Figure out what works and what doesn't</li>
					<li class="wrench">Invent something new</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Dive Deeper</h5>
				<ul class="icon">
					<li class="wrench">Use resources to go in-depth on topics</li>
					<li class="wrench">Develop new theories and hypothesis</li>
					<li class="wrench">Find out the how and why behind each step</li>
				</ul> 
			</div>
			<div class="col-sm-3">
				<h5>Show Off</h5> 
				<ul class="icon">
					<li class="wrench">Tanginble results to show friends and family</li>
					<li class="wrench">Share projects</li>
					<li class="wrench">Compete in challenges</li>
				</ul>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-lg-12">
				<h2>Outcomes</h2>
			</div>
		</div>

		<div class="row outcomes">

			<!-- Service - 1 -->
			<div class="col-lg-4 text-center">
				<div class="outcomes-item">
					<i class="outcomes-icon fa fa-book"></i>
					<h5>Understand Concepts</h5>
					<p>Learn fundamental science and engineering principles through Q&A style language embedded within projects and through online deep dive content.</p>
				</div>
			</div>

			<!-- Service - 2 -->
			<div class="col-lg-4 text-center">
				<div class="outcomes-item">
					<i class="outcomes-icon fa fa-wrench"></i>
					<h5>Develop Skills</h5>
					<p>Develop and practice practical competencies, such as observation, diagnosis, debugging, planning & sequencing by consistently building monthly projects.</p>
				</div>
			</div>

			<!-- Service - 3 -->
			<div class="col-lg-4 text-center">
				<div class="outcomes-item">
					<i class="outcomes-icon fa fa-heart"></i>
					<h5>Build Character</h5>
					<p>Encourage lifelong learning habits, such as persistence, problem solving, resourcefulness, communication, and more by working through challenges and extensions.</p>
				</div>
			</div>


		</div>


		<p>We are learning too. If you have any feedback, suggestions, or are an educator, <a href="contact.html">get in touch</a>. We would love to hear from you.</p>
	</div>

</div>