<% provide(:title, 'FAQ') %>
<% provide(:description, 'Frequently asked questions about UCanBe') %>

<!-- Static Content -->
<div class="static">
	<div class="container static">

		<div class="row">
			<div class="col-lg-12">
				<h2>FAQ</h2>
				<p>Some frequently asked questions. If your particular question isn't covered here, just <%=link_to "get in touch", contact_path %> and we'll happily answer.</p>
			</div>
			<hr>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Why is there a waiting list?</h2>
				<p>Controlling our sign ups helps us make sure we are able to deliver positive and first-rate experiences to our customers. We won't have invites forever, just while we're new and getting our supply chains ready for scaling.</p>
			</div>
		</div>
			
		<div class="row">
			<div class="col-lg-12">
				<h2>How long will it take for me to receive my invite?</h2>
				<p>We release a batch of new invites around the first of each month. We'll do these on a rolling basis, so the earlier you signed up, the earlier you'll get your invite.</p>
			</div>
		</div>	

		<div class="row">
			<div class="col-lg-12">
				<h2>What age range is UCanBe for?</h2>
				<p>All ages! But the projects are at their best when used as a parent/child activity for elementary age children, 7 - 12.</p>
			</div>
		</div>	

		<div class="row">
			<div class="col-lg-12">
				<h2>What other paths are there besides smart electronics?</h2>
				<p>None yet, but we have exciting things on our roadmap.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Are "newbie," "pro," and "expert" suggested age indicators?</h2>
				<p>No. They're more experience related. We build all our projects so they can be suitable for 7-12 years olds. Older kids, or kids who already have experience with a particular path may graduate up more quickly than younger, inexperienced kids. Younger, inexperienced kids may need some extra parent help if they sign up for a more challenging level.</p>
			</div>
		</div>	

		<div class="row">
			<div class="col-lg-12">
				<h2>I've lost interest in the kits I'm currently receiving and want to change, that okay?</h2>
				<p>Totally. You can apply your subscription towards any path and level we offer. You will just want to make sure you get the appropriate base kit when you change.</p> 

				<p>For now, since we're only allowing signups to littleBits kits, we're happy to put your subscription on pause until we release our next kit type. Just <%=link_to "contact", contact_path %> us and we will take care of it.</p>
			</div>
 		</div>

 		<div id="basekit"></div>

		<div class="row">
			<div class="col-lg-12">
				<h2>What is a base kit? Why do I need it?</h2>
				<p>Base kits are the starting materials and toy parts we assume you have when we design our monthly projects. For example, it wouldn't make sense for us to send a new Arduino each month, so we just assume that you will have one.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Do I have to order base kits from UCanBe?</h2>
				<p>Nope, you don't, but you do need to tell us that you already have it. Nothing would stink more than getting a project kit without the base needed to do it.</p>

				<p>If you do order it from us, it eliminates any doubt that you'll have what you need and we will ship it together with your first project kit.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>What's in a Project Kit?</h2>
				<p>All the raw materials, additional toy parts, teaching moments, instructions, and project extensions needed for a fun, foundational STEM activity.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>What's not in a Project Kit?</h2>
				<p>The aforementioned base kit materials as well as anything that's impractical to ship (like scissors).</p>
			</div>
		</div>

	</div>
</div>