<%=render 'layouts/navigation' %> 

<div class="content-page container">

	<%= render 'layouts/bcsubscribe' %>

	<div id='mcf0ndmid012'>
	  <a href='https://app.moonclerk.com/pay/f0ndmid012'>Gift Subscription: UCanBe Box - LittleBits </a>
	</div>
	<script type='text/javascript'>
	  var mcf0ndmid012;
	  (function(d, t) {
	    var s = d.createElement(t),
	    opts = {"checkoutToken":"f0ndmid012","width":"90%"};
	    s.src = 'https://app.moonclerk.com/assets/embed.js';
	    s.onload = s.onreadystatechange = function() {
	      var rs = this.readyState;
	      if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	      try {
	        mcf0ndmid012 = new MoonclerkEmbed(opts);
	        mcf0ndmid012.display();
	      } catch (e) {}
	    };
	    var scr = d.getElementsByTagName(t)[0]
	    scr.parentNode.insertBefore(s, scr);
	  })(document, 'script');
	</script>

</div>