<% provide(:title, 'Home') %>
<% provide(:description, 'UCanBe sends you monthly Learn By Building Project Kits to ignite your passion and abilities in core Science, Technology, Engineering and Math (STEM) skills.') %>
<% provide(:keywords, 'littlebits, robotics, experiments, after school, activities, programming, kits, afterschool education') %>

<!-- top Content -->
<div class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="top-message">
					<h1>Real learning, delivered monthly.</h1>
					<h3></h3>
					<hr class="top-divider">
					<br>
					<p>UCanBe finds the best hightech toys for kids 7-12 and delivers monthly educational projects that develop critical 21st century skills and competencies.</p>
					<ul class="list-inline top-buttons">
						<li><a href="http://eepurl.com/OHkHr" target="_blank"><button class="btn1 btn-8 btn-8a">Join Waiting List</button></a></li>
						<li><a href="faq.html" class="lmore"><i class="fa fa-arrow-circle-o-right fa-fw"></i> <span>Learn More</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<img src="https://ucanbe-production.s3.amazonaws.com/images/fb14_top.png" alt=" " />
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- top Content -->

<!-- Welcome Content -->
<div class="section text-center welcome">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>We deliver monthly projects, so you can be anything.</h2>
				<p>We believe the world is what you make it, but learning how to make is still a challenge. UCanBe utilizes a hands-on, project oriented approach to developing critical 21st century skills and competentcies.</p>
				<p>The outcome? Kids that are knowledgeble, confident, and excited in their abilities to solve complex problems and challenges.</p>
			</div>
			<hr>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- Welcome Content -->

<!-- Services -->
<div id="services" class="services">
	<div class="container">
		<div class="row">

			<!-- Service - 1 -->
			<div class="col-lg-4 text-center">
				<div class="service-item">
					<i class="service-icon fa fa-book"></i>
					<h4>Understand Concepts</h4>
					<p>Learn fundamental science and engineering principles through Q&A style language embedded within projects and through online deep dive content.</p>
				</div>
			</div>

			<!-- Service - 2 -->
			<div class="col-lg-4 text-center">
				<div class="service-item">
					<i class="service-icon fa fa-wrench"></i>
					<h4>Develop Skills</h4>
					<p>Develop and practice practical competencies, such as observation, diagnosis, debugging, planning & sequencing by consistently building monthly projects.</p>
				</div>
			</div>

			<!-- Service - 3 -->
			<div class="col-lg-4 text-center">
				<div class="service-item">
					<i class="service-icon fa fa-heart"></i>
					<h4>Build Character</h4>
					<p>Encourage lifelong learning habits, such as persistence, problem solving, resourcefulness, communication, and more by working through challenges and extensions.</p>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- Services -->

<!-- Info Content -->
<div class="wrap-content wrap-content1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<hr class="heading-spacer">
				<div class="clearfix"></div>
				<h2>How it works.</h2> 
				
				<ol>
					<li>
						<p>Choose your preferred learning path and desired level.</p>
					</li>
					<li>
						<p>Let us know if you need to order the companion base kit.</p>
					</li> 
					<li>
						<p>Sign up to a monthly subscription for $29.95 a month. Enjoy getting projects deliverd to your door</p>
					</li>
					<li>
						<p>When you're ready to graduate to a new level, or want to change up your current path, let us know.</p> 
					</li>
				</ol>

			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="https://ucanbe-production.s3.amazonaws.com/images/fb14_how-it-works.gif" alt="">
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- Info Content -->

<!-- Path Info -->
<div class="container path">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Smart Electronics <small>Smart Cars, clothes, art and more.</small></h1>
		</div>
	
		<!-- Path 1 -->
		<div class="col-sm-4">
			<img class="img-responsive" src="https://ucanbe-production.s3.amazonaws.com/images/fb14_lb.jpg" alt="">
			<p class="cred">Photo courtesy of <a href="http://littlebits.cc/">littleBits</a></p>
			<h3>littleBits <small>For Newbies</small></h3>
			<p>littleBits makes an open source library of electronic modules that snap together with tiny magnets for prototyping, learning, and fun.</p>
			<a href="http://eepurl.com/OHkHr" target="_blank"><button type="button" class="btn btn-primary">Join Waiting List</button></a>
		</div>

		<!-- Path 2 -->
		<div class="col-sm-4">
			<img class="img-responsive" src="https://ucanbe-production.s3.amazonaws.com/images/fb14_mm.jpg" alt="">
			<p class="cred">CC Image courtesy of <a href="http://www.flickr.com/photos/49822796@N00/7167037980/in/set-72157629656237426">jayahimsa</a> on Flickr</p>
			<h3>Makey Makey <small>For Pros</small></h3>
			<p>MaKey MaKey is an invention kit that turns everyday objects into touchpads and combines them with the internet. Great for doing art, engineering, and everything inbetween.</p>
		</div>

		<!-- Path 3 -->
		<div class="col-sm-4">
			<img class="img-responsive" src="https://ucanbe-production.s3.amazonaws.com/images/fb14_arduino.jpg" alt="">
			<p class="cred">CC Image courtesy of <a href="http://www.flickr.com/photos/66478851@N06/6052455554/in/photolist-adQqaY-adQqbb-adQqb3-adMCcB-aAs9TN-aAsayw-aAsb7s-aAppC4-aApq4M-dSKCXc-b1VM3g-bK3yEH-adMCcK-adMCcM-adMCcF-aTcQV4-aBMgQb-azDEM3-8Gpax6-9iniqe-9iqn5j-9iqmbL-9iqpQ7-9inhtV-8N5WW7-iYHviw-akHRpz-cwHAo7-cwHuHf-8LbsZ8-adSxym-9eSk9m-9ePdmc-93CCa1-8GtRZf-93CCK3-93CCqw-93CBT9-gwFE7M-gwF8gv-gwFAPe-8Gso9U-gwF4vz-9ink7Z-9WsHFM-dCJAYE-dCDbFe-dCDbuv-dNToh1-94ShLQ-bmz55N">Snootlab</a> on Flickr</p>
			<h3>Arduino <small>For Experts</small></h3>
			<p>Arduino is a tool for making computers that can sense and control more of the physical world than your desktop computer. Use it to develop interactive objects and controlling a variety of lights, motors, and other physical outputs.</p>
		</div>
	</div>
</div>
<!-- Path Info -->


<!-- Info Content -->
<div class="wrap-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<img class="img-responsive" src="https://ucanbe-production.s3.amazonaws.com/images/fb14_boxes.png" alt="">
			</div>
			<div class="col-lg-5">
				<hr class="heading-spacer">
				<div class="clearfix"></div>
				<h2>What's in a box?</h2>
				<p class="lead"><p>Each month you will receive a UCanBe Project Kit with all the raw materials, additional toy parts, teaching moments, and instructions needed for a fun, foundational STEM project. Each project can be assembled in roughly 90 minutes, and can be re-configured and re-deployed in multiple ways. Wherever your imagination takes you.</p></p>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- Info Content -->

<!-- Pricing Content -->
<div class="pricing">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="pull-center" style="text-align:center;color:#fff;margin-bottom:50px;">Pricing Information</h1>
			</div>
		</div>
		<div class="row">

			<!-- Pricing Plan - 1 -->
			<div class="col-sm-12">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<strong>Monthly Subscription</strong>
					</div>
					<div class="panel-body">
						<h3 class="panel-title price">$29<span class="price-cents">95</span></h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">1 project kit a month</li>
						<li class="list-group-item">Shipping included</li>
						<li class="list-group-item">Cancel Anytime</li>
						<li class="list-group-item">Does Not Include Base Kit <a href="faq.html#basekit"><small><em>What's a base kit?</em></small></a></li>
						<li class="list-group-item"><a class="btn btn-primary" href="http://eepurl.com/OHkHr" target="_blank">Join Waiting List</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- Pricing Content -->