<div class ='container'>
	<h2>UCanBe</h2>
	<p class="lead">I want to <em>inspire</em> <em>my kid</em> to <em>be a data scientist</em></p>
</div>


<div class='container'>
	<form role="form">
	  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		</div>
		<button type="submit" class="btn btn-default">Get Notified</button>
	</form>
</div>

<div class='container'>
	<div class="row">
	  <div class="col-md-12">
	    <h3>Inspiriation delivered to your door</h3>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-4">
	    <h6>1. Choose veritcal.</h6>
	    <p class='small'>Tell us what you want to build with your kid. We got the lessons.</p>
	  </div>

	  <div class="col-md-4">
	    <h6>2. Choose plan.</h6>
	    <p class='small'>Monthly, 3-month or 6-month plans available. Cancel anytime. Free shipping.</p>
	  </div>

	  <div class="col-md-4">
	    <h6>3. Spark Genius.</h6>
	    <p class='small'>We ship on the 15<sup>th</sup> of each month. Get ready.</p>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <img src="http://placedog.com/300/200" class="fluidimg">
	  </div>

	  <div class="col-md-4">
	    <img src="http://placedog.com/300/200" class="fluidimg">
	  </div>

	  <div class="col-md-4">
	    <img src="http://placedog.com/300/200" class="fluidimg">
	  </div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Tell your friends!</h3>
			<!-- Add share module --> 
		</div>
	</div>
</div>
