<div class="container landing">
	<p class="lead typer">Inspire your <span id="kid" data-typer-targets="grandson,niece,youngest,granddaughter,oldest,nephew,kid,child">child</span> to <span id="dream" data-typer-targets="be an architect,launch a rocketship,build skyscrapers,start the next big tech company,be an electrical engineer,build robots,be a rocket scientist">be a rocket scientist</span></p>
</div>


<div class="container" id="lede"> 
	<h2>Monthly technology projects you can do with your kid</h2>
	<span><%= link_to "Get Yours!", subscribe_path, class: "btn btn-primary btn-default" %> or <%= link_to "give gift", gift_path %>.</span>
</div>

	
<div class="container">
	<%= render 'layouts/productsteps' %>	
	<div class="col-md-12">
		<h4>It's. so. simple.</h4> 
		<p><%= link_to "Learn more", about_path %> about UCanBe, our curriculum, and our boxes.</p>
	</div>
</div>
  

<!--Eventually Build "share" well here-->


