<div class="container">
	<%= image_tag("https://s3.amazonaws.com/ucanbe-production/images/ucanbe-logo%402x.png", :size => "200x73", :id => "logo") %>
	<p class="lead typer">Inspire your <span id="kid" data-typer-targets="grandson,niece,youngest,granddaughter,oldest,nephew,kid,child">child</span> to <span id="dream" data-typer-targets="be an architect,launch a rocketship,build skyscrapers,start the next big tech company,be an electrical engineer,build robots,be a rocket scientist">be a rocket scientist</span></p>
</div>

<div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <h2>Fun science and technology projects delivered to your door.</h2>
	  </div>	  
	</div>
	<div class="productsteps">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<h4>1. Subscribe</h5>
			  <p>Sign up for our monthly subscription. Cancel anytime.</p>
			  <!--<div class="thumbnail">
			    <img src="http://placedog.com/300/200" alt="...">
			  </div>-->
			</div>
			<div class="col-sm-6 col-md-4">
				<h4>2. Get The Box</h5>
			  <p>We ship our boxes to your door on the 15<sup>th</sup> of each month.</p>
			  <!--<div class="thumbnail">
			    <img src="http://placedog.com/300/200" alt="...">
			  </div>-->
			</div>
			<div class="col-sm-6 col-md-4">
			  <h4>3. Spark Genius</h5>
			  <p>Do the monthly activities with your child and spark their inner genius.</p>	  	
			  <!--<div class="thumbnail">
			    <img src="http://placedog.com/300/200" alt="...">
			  </div>-->
			</div>
		</div>
	</div>	
</div>


<div class="well container">
	<div class="form-group">
		<h3>We will start taking orders soon.</h3>
		<p>Join our waiting list and be first to learn about our inagural lesson box.</p>
		<form accept-charset="UTF-8" action="/mcsubscribe/subscribe" data-remote="true" id="mcsubscribe" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>  
		<input id="email" name="email[address]" placeholder="Email Address" type="email" class="form-control" />
		<div id="response"></div>
	</div>
  	<input class="btn btn-primary" name="commit" type="submit" value="Join Waiting List" />
  	</form>
</div>
  

<!--Eventually Build "share" well here-->


