<div class="content-page">

	<div class="content-header">
		<h1 class="animation"><span class="ectocooler">UCanBe</span> <span class="rotate">an electrical engineer,a car designer,a software programmer,an aerospace engineer,a physics teacher,a solar engineer,a product designer,a bridge engineer,a biotech researcher, a rocket scientist</span></h1>

		<%= image_tag("//s3.amazonaws.com/ucanbe-production/images/landing/landing.png", class: "img-responsive hidden-xs") %>
		<%= image_tag("//s3.amazonaws.com/ucanbe-production/images/landing/landing-sm.png", class: "img-responsive visible-xs") %>
	</div>


	<div class="container">		
		<p class="lead">UCanBe sends you monthly Learn By Building Project Kits to ignite your passion and abilities in core Science, Technology, Engineering and Math (STEM) skills. We provide the coolest, most educational hightech toys that let you design and build real world products.</p>

		<%= link_to "", subscribe_path, class: "getstarted" %>

		<p class='lead'>You’ll be surprised at how much you are learning, without even trying. Fun for everyone, and recommended for kids 6 to 12 years of age.</p>

		<h3>This Month's Project Kit: UCanBe's Smart Car</h3>
		<%= image_tag("//s3.amazonaws.com/ucanbe-production/images/landing/landing-project-smart-car.png") %>
	</div>

</div>


