<div class="container landing">
	<h1>Monthly technology project kits to do with kids.</h1>
</div>

<div class="container" id="lede"> 
	<p class="lead">UCanBe finds the coolest and most educational hightech toys and sends you monthly projects with distint learning goals that stimulate your child's interest and excitment about technolgy. Easy to assemble and use. No prior expertise required. Fun for kids 8 to 12 years of age.</p>
		
	<%= link_to "Get Started", subscribe_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "or give as gift", gift_path %>
</div>

 
	
<div class="container">
	<%= render 'layouts/productsteps' %>	
</div>

<div class="container"> 
	<div class="col-md-12">
		<h4>Why wait? Start making!</h4> 
		<p><%= link_to "Learn more", about_path %> about UCanBe, our curriculum, and our kits.</p>
	</div>
</div>
  

<!--Eventually Build "share" well here-->


