<div class="container landing">
	<h1 class="typer">UCanBe <span id="job" data-typer-targets="an electrical engineer,a car designer,a software programmer,an aerospace engineer,a physics teacher,a solar engineer,a product designer,a bridge engineer,a biotech researcher, a rocket scientist">a rocket scientist</span></h1>


	<div id="lede"> 
		<p class="lead">UCanBe sends you monthly "Learn By Building" Project Kits to ignite your passion and abilities in core Science, Technology, Engineering and Math (STEM) skills. We provide the coolest and most educational hightech toys that let you design and build real world products. Along the way, you’ll be surprised at how much you are learning, without even trying. Fun for everyone, and recommended for kids 6 to 12 years of age.</p>
			
		<%= link_to "Get Started", subscribe_path, class: "btn btn-primary btn-lg" %>
	</div>
</div>
  

<!--Eventually Build "share" well here-->


