<%=render 'layouts/navigation' %> 

<div class="content-page container">

	<h1>Order UCanBe Box: LittleBits</h1>
	<p class="lead">Self-driving cars, guitars, and more are within your grasp.</p>

	<div class="col-md-4 col-md-push-8">
		<div class="text-left">
			<div class="well small">

				<h4>In Time for Christmas!</h4>
				<p>Order a LittleBits starter kit by December 10th so Santa can deliver by Christmas Day. We'll add in a teaser note explaining what's to come. <%= link_to "Get your starter kit.", "#" %> </p> 
				

				<h4>Give a Gift!</h4>
				<p>Want to give a UCanBe subscription as a gift? We can do that. <a href="mailto:support@ucanbe.com?subject=UCanBe: I Want to Gift a Subscription">Email us</a> and we will get your gift setup.</p>

			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-pull-4">
		<div class="text-left">
			<h3>Build your own self-driving car!</h3>
			<p>Our very first project based on LittleBits will ship on January 15th. We're working hard to put together a lesson plan so you and your child can do your best impression of Google engineers and build you own self-driving car. How cool is that?</p>

			<%= render 'layouts/pricingtable' %> 	

			<h3>About this box</h3>
			<p>This UCanBe box provides lessons and projects built around LittleBits. LittleBits is an opensource library of electronic modules that simply snap together with tiny magnets. A thriving community of creators and tinkerers ensure that there is no shortage of modules and project ideas. We curate projects, package all the materials and new modules, and ship everything to your door with helpful instructions.</p>

			<h3>We Handle Everything</h3>
			<p>We include all the LittleBit modules and other materials needed the month's activity. Included in the box are instructions for the parent with key learning points so you can put emphasis on the right steps as you work with your child.</p>

		</div>
	</div>
</div>