<%=render 'layouts/navigation' %> 

<div class="content-page container">

	<%= render 'layouts/bcsubscribe' %>

	<div class="subscribestep">
    <div class="row">
      <div class="col-md-12">
        <h3>Choose Plan</h3>
      </div>
    </div>
    <div class="row">
	    <div class="subscribeunit">
	      <div class="col-md-4">
	        <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
	        <h5>Monthly Subscription</h5>
	        <%= link_to "Yup", orderlb_path, class: "btn btn-primary" %> 
	      </div>
	    </div>
	    <div class="subscribeunit">
	      <div class="col-md-4">
	      	<img src="http://placedog.com/300/200" class="img-responsive" alt="...">
	        <h5>Give as Gift</h5>
	        <%= link_to "Yup", giftlb_path, class: "btn btn-default" %> 
	      </div>
	    </div>
	    <div class="subscribeunit">
	      <div class="col-md-4">
	      </div>
	    </div>	    
    </div>
    <div class="row">
	    <div class="subscribefooter">
	      <div class="col-md-12">
	      	<p>Free shipping. Billed monthly. Cancel anytime.</p>
	      </div>
	    </div>
    </div>
	</div>

</div>