<div class="content-page">
	<div class="container">
		<h1>Terms of Service</h1>
		<div class="text-left">
			<p>
				Welcome to UCanBe! The UCanBe Website and services are provided by UCanBe (“we” “us” or “our”) a company under Learning Edge Ventures, LLC ("Learning Edge Ventures"). These terms and conditions govern your (“you” or “your”) access to and use of the UCanBe.com web site (the “Website”) and all services provided by UCanBe via the Website including without limitation our monthly product and gift service (collectively, the “Services”).
			</p>
			<p>
				UCanBe provides a subscription service for monthly delivery of STEM education project kits to do with your child. Access to the Website, use of the Services, and purchase of the Products is subject to these Terms and Conditions and the UCanBe Privacy Policy available on the Website.
			</p>

			<h3>Acceptance of Terms</h3>

			<p>
				By using our Website or subscribing to our Services, you indicate your unconditional acceptance of the following Terms and Conditions. Please read them carefully, as they may have changed since your last visit. The most recent version of these Terms and Conditions may be viewed at <a href="https://www.ucanbe.com/terms-of-service">UCanBe.com/terms-of-service</a>.
			</p>

			<h3>Scope of Service</h3>

			<p>
				UCanBe maintains this Website as a service to the user community that visits the Website subject to these Terms and Conditions. You are responsible for obtaining any equipment and Internet service necessary to access our Website and for paying any fees for the equipment and service you select. We may alter, suspend, or discontinue this Website or the Services in whole or in part, at any time and for any reason, without notice. The Website may also periodically become unavailable due to maintenance or malfunction of computer equipment or for other reasons.
			</p>

			<h3>Website Content</h3>

			<p>
				Users have a personal, non-transferable, non-exclusive right to access and use the Content of this Website subject to these Terms and Conditions. The term “Content” means all information, text, images, data, links, software, or other material accessible through the Website or Services, whether created by us or provided by another person for display on the Website or through the Services.
			</p>

			<p>
				The Content may contain typographical errors, other inadvertent errors or inaccuracies. We reserve the right to make changes to document names and content, descriptions or specifications of products or services, or other information without obligation to issue any notice of such changes.
			</p>

			<p>
				You may view, copy, download, and print Content that is available on this website or through the Services, subject to the following conditions:
			</p>

			<ol>
				<li>
					The Content may be used solely for internal informational purposes. No part of this website or its Content may be reproduced or transmitted in any form, by any means, electronic or mechanical, including photocopying and recording for any other purpose.
				</li>

				<li>
					The Content may not be modified.
				</li>

				<li>
					Copyright, trademark, and other proprietary notices may not be removed.
				</li>
			</ol>

			<p>
				Nothing contained on this Website should be construed as granting, by implication, estoppel, or otherwise, any license or right to use this Website or any Content displayed on this Website, through the use of framing or otherwise, except: (a) as expressly permitted by these terms of use; or (b) with our prior written permission or the permission of such third party that may own the trademark or copyright of material displayed on this Website.
			</p>

			<h3>Subscriptions and Membership</h3>

			<p>
				In order to start your ongoing UCanBe monthly subscription, you must provide us with some personal information on the Website. This includes your shipping information including your address and billing information, and your valid email address. For your convenience as a UCanBe customer, all information that you provide to UCanBe is subject to UCanBe's Privacy Policy. You are responsible for keeping your registration information up to date by emailing <a href="mailto:support@ucanbe.com?Subject=Edit My Information">support@ucanbe.com</a> or by using the provided links in any billing confimation emails.
			</p>

			<h3>Monthly Delivery</h3>

			<p>
				As a subscribed UCanBe member, each month we will ship you a package with a STEM project and the materials needed to complete the project. Each month of your subscription, the project will change. 
			</p>

			<p>
				BY SUBSCRIBING YOU AGREE TO PAY THE MONTHLY SUBSCRIPTION FEE FOR THE PROJECTS THAT ARE DELIVERED EACH MONTH.
			</p>

			<h3>Base Kits</h3>
			
			<p>
				UCanBe leverages, builds curriculum, and provides projects around the best cutting edge education technology available. Each of our monthly project kits assume that you have previously purchased the specified base kit either from UCanBe or another provider. 
			</p>

			<h3>Billing and Payments</h3>

			<p>
				All information that you provide to register with UCanBe including your credit card information is subject to UCanBe's Privacy Policy. The price of the Services and/or goods is payable in full before delivery. We accept the following credit cards at this time: Visa, MasterCard, American Express, or Discover. You will automatically be charged each month for your ongoing subscription. For your convenience and continuous subscription benefits as a member, if your payment method reaches its expiration date and you do not edit your credit card information or cancel your account, you authorize us to continue billing that credit card on file including extending the expiration date until we are notified by you or the credit card company that the account is no longer valid. We encourage you to constantly update your payment method information or cancel your account should you wish to discontinue your monthly purchase of Products.
			</p>

			<p>
				We use a third party payment services in lieu of directly processing your credit card information. By submitting your credit card information, you grant UCanBe the right to store and process your information with the third party payment service, which it may change from time to time; you agree that UCanBe will not be responsible for any failures of the third party to adequately protect such information. All financial matters regarding your information are subject to the conditions of the third party payment service provider’s terms of service; the current versions is attached as a link at <a href="http://www.moonclerk.com/terms-of-service/">http://www.moonclerk.com/terms-of-service/</a> and <a href="https://stripe.com/us/terms">https://stripe.com/us/terms</a>. You acknowledge that we may change the third party payment service and move your information to other service providers that encrypt your information using secure socket layer technology (SSL) or other comparable security technology.
			</p>

			<h3>Shipping and Risk of Loss</h3>

			<p>
				Unless otherwise indicated at the time of your purchase, shipping and handling fees are included with your order. Shipping dates and/or arrival times are only estimates. For loss/damage claims, you must notify UCanBe within 30 days of the date of your purchase if you believe all or part of your order is missing or damaged.
			</p>

			<p>
				Replacement of Products and credits to your account for shipped merchandise claimed as not received are subject to our investigation, which may include postal-service notification. We will adjust your account at our discretion. Repeated claims of undelivered merchandise may result in the cancellation of your membership.
			</p>

			<h3>Returns and Exchanges</h3>

			<p>
				If a Product is defective, you may return it and we will send you a new item or credit your account. To request a refund, please contact us at <a href="mailto:support@ucanbe.com?Subject=Return and refund">support@ucanbe.com</a>. When returning Products, it is your responsibility to take reasonable care to see that the Products are not damaged in transit and are received by us at our address as displayed on the Website. Please note credits resulting from the monthly charge are only available up to 30 days past the date of the charge. Refunds are at the sole discretion of UCanBe.com.
			</p>	

			<h3>Local Taxes</h3>

			<p>
				You may be charged local sales tax or VAT, if applicable.
			</p>

			<h3>International Access</h3>

			<p>
				This Website may be accessed from countries other than the United States. This Website and the Services may contain products or references to products that are only available within the United States and U.S. territories. Any such references do not imply that such products will be made available outside the United States. If you access and use this Website outside the United States you are responsible for complying with your local laws and regulations.
			</p>

			<h3>Membership Cancellations</h3>

			<p>
				We work hard to make your membership satisfying; however, you may cancel your ongoing membership through the provided links in any billing confirmation email or by writing to <a href="mailto:support@ucanbe.com?Cancel My Subscription">support@ucanbe.com</a>. IF YOU DO NOT CANCEL PRIOR TO THE TENTH DAY OF A CALENDAR MONTH, YOU WILL BE CHARGED FOR THAT MONTH’S SHIPMENT OF PRODUCTS TO YOU. All cancellation requests received after the tenth day of a calendar month will apply to the following calendar month.
			</p>

			<p>
				We may terminate your membership, without notice, for conduct we believe violates these Terms and Conditions or our policies, is harmful our business interests, or for an inactive account.
			</p>

			<h3>Limitation of Liability</h3>

			<p>
				IN NO EVENT SHALL LEARNING EDGE VENTURES OR ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AFFILIATES BE LIABLE TO ANY USER OF THIS WEBSITE OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, LOSS OF USE, OR COSTS OF OBTAINING SUBSTITUTE GOODS OR SERVICES) ARISING OUT OF THE USE, INABILITY TO USE, UNAUTHORIZED ACCESS TO OR USE OR MISUSE OF THE PRODUCTS OR THE WEBSITE OR ANY INFORMATION CONTAINED THEREON, WHETHER BASED UPON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EVEN IF HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES.
			</p>

			<p>
				YOU AGREE LEARNING EDGE VENTURES' TOTAL CUMULATIVE LIABILITY IN CONNECTION WITH THESE TERMS AND CONDITIONS, THE WEBSITE, THE CONTENT, OR ANY PRODUCT OR SERVICES WHETHER IN CONTRACT, TORT, OR OTHERWISE, SHALL NOT EXCEED THE AMOUNT YOU PAID TO UCANBE IN THE THEN-PRIOR CALENDAR MONTH.
			</p>

			<h3>Indemnification</h3>

			<p>
				By using this Website, our Services, or supplied Products, you agree to indemnify, hold harmless and defend UCanBe from any claims, damages, losses, liabilities, and all costs and expenses of defense, including but not limited to, attorneys' fees, resulting directly or indirectly from a claim by a third party that arises in connection with use of this Website, Services, or Products by you or any other person accessing the Website using your member login account.
			</p>

			<h3>Content Submitted by Users</h3>

			<p>
				You may use this Website (but not subscribe to our Services) without volunteering personally identifiable information. Please refer to our Privacy Policy for additional information on our practices for handling personally identifiable information. However, if you choose to provide information to register for or participate in a service, event, or promotion on this Website or to use our Services, you agree that you will provide accurate, complete, and up to date information as requested on the screens that collect information from you.
			</p>

			<h3>Minors</h3>

			<p>
				UCanBe services are available only to, and may only be used by, individuals who are 18 years and older who can form legally binding contracts under applicable law. Individuals under the age of 18 can use this service only in conjunction with and under the supervision of a parent or legal guardian. In this case, the adult is the user and is responsible for any and all activities, subscribers and purchasers.
			</p>

			<h3>Intellectual Property Rights</h3>

			<p>
				Unless otherwise noted, all Content contained on this Website is the property of UCanBe and/or its affiliates or licensors, and is protected from unauthorized copying and dissemination by United States copyright law, trademark law, international conventions and other intellectual property laws. Product names are trademarks or registered trademarks of their respective owners.
			</p>

			<h3>Copyright Infringement; Notice and Take Down Procedures</h3>

			<p>
				If you believe that any materials on this Website infringe your copyright, you may request that they be removed. This request must bear a signature (or electronic equivalent) of the copyright holder or an authorized representative and must include the following information: (1) identification of the copyrighted work that you believe to be infringed, including a description of the work and, where possible, a copy or the location of an authorized version of the work; (2) identification of the material that you believe to be infringing and its location, including a description of the material, its Website location or other pertinent information that will help us to locate the material; (3) your name, address, telephone number, and email address; (4) a statement that you have a good faith belief that the complained of use of the materials is not authorized by the copyright owner, its agent, or the law; (5) a statement that the information in your claim is accurate; and (6) a statement that "under penalty of perjury," you declare that you are the lawful copyright owner or are authorized to act on the owner’s behalf. Our agent for copyright issues relating to this Website is: UCanBe Copyright Agent, 36 Cooper Square, 6th Floor, New York, NY, 10003.
			</p>

			<h3>Disclaimer of Warranty</h3>

			<p>
				YOU ARE SOLELY RESPONSIBLE FOR DETERMINING IF A MONTHLY PROJECT IS SUITABLE FOR BY YOUR CHILD. 
			</p>

			<p>
				Under no circumstances will we be liable for any loss or damage caused by your use of the Products or your reliance on information in any Content on this Website. YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY ARISING FROM OR RELATING IN ANY WAY TO ANY PRODUCT SHALL BE ITS REPLACEMENT OR A CREDIT TOWARDS ANOTHER MONTHLY SHIPMENT, IN UCANBE'S DISCRETION.
			</p>

			<p>
				YOU MAY RETURN DEFECTIVE PRODUCTS WITHIN THIRTY (30) DAYS OF DELIVERY. EXCEPT AS EXPRESSLY PROVIDED HEREIN, ALL PRODUCTS SUPPLIED, AND ALL TEXT, IMAGES, AND OTHER INFORMATION ON OR ACCESSIBLE FROM THIS WEBSITE ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SPECIFICALLY, BUT WITHOUT LIMITATION, UCANBE DOES NOT WARRANT THAT: (i) THE INFORMATION AVAILABLE ON THIS WEBSITE IS FREE OF ERRORS; (ii) THE PRODUCTS OR SERVICES ARE NOT DEFECTIVE; (iii) THE FUNCTIONS OR SERVICES PROVIDED BY THIS WEBSITE WILL BE UNINTERRUPTED, SECURE, OR FREE OF ERRORS; (iv) DEFECTS WILL BE CORRECTED, OR (v) THIS WEBSITE OR THE SERVER(S) THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
			</p>

			<h3>Exclusions</h3>

			<p>
				SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
			</p>

			<h3>Links to Third-Party Websites</h3>

			<p>
				This Website may contain links to third party Websites that are provided to you as a convenience. Any outside Website accessed from our Website is independent from UCanBe, and we have no control over the content of such Websites. We are not responsible for the content of any linked Website or for any loss or damage incurred in connection with your use such links or dealings with the operators of such third party Websites.
			</p>

			<h3>No Implied Endorsements</h3>

			<p>
				In no event shall any reference to any third party or third party product or service be construed as an approval or endorsement by UCanBe of that third party or of any product or service provided by a third party. Likewise, a link to any third party Website does not imply that we endorse or accept any responsibility for the content or use of such a Website. UCanBe does not endorse, warrant or guarantee any product or service offered by any third party through an online discussion forum or chat room accessible through this Website and will not be a party to or in any way monitor any transaction involving any third party providers of products or services. As with the purchase of a product or service through any medium or in any environment, you are responsible for exercising appropriate judgment and caution.
			</p>

			<h3>Jurisdictional Issues</h3>

			<p>
				We make no representation that information on this Website, or the Products or Services we provide, are appropriate or available for use outside the United States. Those who choose to access this Website from outside the United States do so on their own initiative and at their own risk and are responsible for compliance with applicable local laws.
			</p>

			<h3>Termination</h3>

			<p>
				We may terminate any user’s monthly subscription or access to our Website or Services in our sole discretion, for any reason and at any time, with or without prior notice. It is our policy to terminate users who violate these terms and conditions, as deemed appropriate in our sole discretion. You agree that we are not liable to you or any third party for any termination of your access to our Website or Services.
			</p>

			<h3>Enforcement</h3>

			<p>
				These Terms and Conditions shall be governed and interpreted pursuant to the laws of the State of New York, United States of America, notwithstanding any principles of conflicts of law.
			</p>

			<p>
				All disputes arising out of or relating to these Terms and Conditions shall be finally resolved by arbitration conducted in the English language in New York, NY, U.S.A. under the commercial arbitration rules of the American Arbitration Association. The parties shall appoint as sole arbitrator a retired judge who presided in the State of New York. The parties shall bear equally the cost of the arbitration (except that the prevailing party shall be entitled to an award of reasonable attorneys' fees incurred in connection with the arbitration in such an amount as may be determined by the arbitrator). All decisions of the arbitrator shall be final and binding on both parties and enforceable in any court of competent jurisdiction. Notwithstanding the foregoing, we shall be entitled to seek injunctive relief, security, or other equitable remedies from federal and state courts located in the State of New York or any other court of competent jurisdiction. Under no circumstances shall the arbitrator be authorized to award punitive damages, including but not limited to federal or state statutes permitting multiple or punitive damage awards. Any purported award of punitive or multiple damages shall be beyond the arbitrator’s authority, void, and unenforceable.
			</p>

			<h3>Severability</h3>

			<p>
				If any part of these Terms and Conditions is held to be unlawful, void, or unenforceable, that part will be deemed severable and shall not affect the validity and enforceability of the remaining provisions.
			</p>

			<h3>Entire Agreement</h3>

			<p>
				These Terms and Conditions constitute the entire agreement between the parties relating to the subject matter herein. We may, at our sole discretion and without notice, revise these terms at any time by updating this posting.
			</p>

			<h3>For Additional Information</h3>

			<p>
				If you have any questions about these Terms and Conditions, please contact <a href="mailto:support@ucanbe.com?Terms Questions">support@ucanbe.com</a>.
			</p>

			<p>
				Copyright © 2013, Learning Edge Ventures, LLC. All Rights Reserved.
			</p>
		</div>
	</div>
</div>