<div class="content-page container">

<h1>Thank You!</h1>

<p><strong>Your card has been approved.</strong></p>

<p>You will receive an email notification letting you know your payment information was processed. Someone will also be in touch soon to give you your unique coupon code and "how to redeem" instructions to give the recipient.</p>

<p>If you have any questions in the meantime, please reach out to <a href="mailto:support@ucanbe.com?subject=UCanBe: Just Saying Hi">support@ucanbe.com</a>.</p>


</end>	

