<div class="content-page container">

<h1>Your Card Was Approved.</h1>

<p>Thank you so much for your business.</p>

<p>You will receive an email notification letting you know your payment information was processed. Someone will also be in touch soon to give you your unique gift coupon code and "how to renew" instructions you can pass along to the recipient.</p>

<p>If you have any questions in the meantime, please reach out to <a href="mailto:support@ucanbe.com?subject=UCanBe: Just Saying Hi">support@ucanbe.com</a>.</p>


</end>	

