@import "bootstrap";

/* general */
#ucanbe {
  text-align: center; 
}

#logo {
  margin: 75px 0 100px 0; 
}

.container {
  margin: 75px auto; 
}

/* footer */
footer {
  width: 90%;
  margin: 45px auto 10px auto;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
