/* Imports, mixins, variables */ 

@import "bootstrap";

$lightgray: #ccc; 
$ucanbe-purple: #4D3A84;
$ucanbe-green: #93C01F;
$ucanbe-orange: #EF9100; 

/* bs overrides */ 
h1, h2, h3, h4, h5, h6 {
  color: $ucanbe-purple;
}

a {
  color: $ucanbe-green;
}

a:hover {
  color: #84AD1C; 
}


p {
  color: gray;
}

label {
  color: gray;
}

.btn-primary {
  color: white;
  background-color: $ucanbe-purple;
  border-color: #36295C; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: #3E2E6A;
    border-color: #1F1735; }
  .open .btn-primary.dropdown-toggle {
    color: white;
    background-color: #3276b1;
    border-color: #285e8e; }
  .btn-primary:active, .btn-primary.active {
    background-image: none; }
  .open .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd; }

.container {
  margin: 30px auto; 
}

/* customs */ 

.content-page {
  margin-top: 70px; 
}


/* Landing Page */
#ucanbe {
  text-align: center; 
  margin-bottom: 50px;
}

#logo {
  margin: 20px 0 30px 0; 
}


#lede {

  h2 {
    margin: 0 0 20px 0;
  }

  span {
    color: gray;
  }
}

.typer {
  font-size: 1.5em;
  span {
  font-style: italic;
  color: $ucanbe-purple;
  }
}

/* _mailchimp partial */
#response {
  font-weight: bold; 
  font-style: italic;
}


/* _productsteps partial */

.productsteps {
  text-align: center;
} 

.productunit img {
  margin: auto;
}

/* _pricingtable partial */

.pricingtable {
  text-align: center; 
  h5 { 
    color: $gray;
    line-height: 1.5em;
    font-size: 1.5em;  
  }
}

.pricingunit {
  border: 1px solid $lightgray; 
  img {
    margin: auto;
  }
}


.pricingfooter {
  margin-top: 10px;
  font-size: 1.1em;
}


/* _navigation partial  */

.navbar-default {
  background-color: #fff;
  border: 1px solid #ccc;
}

.navbar .container {
  margin: 0 auto 5px auto;
}

.navbar li a {
  font-size: 1.25em;
  padding-top: 20px;
  span {
    border-bottom: 1px dashed;
  }
}



/* _footer partial */ 
.footer {
  border-top: 1px solid $lightgray;
  font-size: .75em;
  margin-top: 25px;
  padding: 25px 0;
}

