<ol class="breadcrumb">
  <li><%= link_to "Choose Path", subscribe_path, :class => "active" %></li>
  <li><%= link_to "Choose Plan", subscribe_littlebits_path %></li>
  <li><%= link_to "Subscribe", "https://app.moonclerk.com/pay/2cwwx0c0tb0" %></li>
</ol>