<ol class="breadcrumb">
  <li><%= link_to "Choose Box", subscribe_path, :class => "active" %></li>
  <li><%= link_to "Choose Plan", subscribe_littlebits_path %></li>
  <li><%= link_to "Subscribe", subscribe_littlebits_onemonth_path %></li>
</ol>