<!-- Footer -->
<div class="container">
	<footer class="footer">
		<div class="row">
		    <div class="col-sm-7 text-left">
		        <span class="glyphicon glyphicon-wrench"></span> Made in NYC by <a href="http://learningedgelabs.com">Learning Edge Labs</a> | <%=link_to "Order", static_pages_littlebits_path %> | <%=link_to "About", about_path %> | <%= link_to "Contact", contact_path %> 
		    </div>
		    <div class="col-sm-5 text-right">
		        <ul class="list-inline no-space-bottom">
				      <li><a href="https://www.facebook.com/pages/Ucanbe/664572716907516" target="blank"><i class="fa fa-facebook fa-2x"></i></a></li>
						  <li><a href="https://twitter.com/ucanbebox" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
						  <li><a href="http://ucanbe.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-2x"></i></a></li>
		        </ul>
		    </div>
		</div>
	</footer>
</div>


<!--js-->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<!--Typer script, need to find a better way to delay the start... --> 
<script>
    $(document).ready(function(){ 
      $("[data-typer-targets]").typer() 
    }); 

    $.typer.options.typedelay = 5000;
    $.typer.options.typerInterval = 7000;

</script>