<!-- Newsletter -->
<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3>Stay in the loop. Subscribe to our Email Updates.</h3>
				<!--<input type="text" placeholder="Email Address"/>-->
				<a href="http://eepurl.com/OHpgz" target="_blank" class="btn btn-lg btn-primary"><i class="fa fa-envelope"></i> Subscribe</a>
			</div>
		</div>
	</div>
</div>
<!-- Newsletter -->

<!-- Contact info -->
<div class="cinfo">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<ul class="contact-info">
					<li><i class="fa fa-envelope"></i> support@ucanbe.com</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul class="list-inline cinfo-social-buttons">
					<li><a href="https://twitter.com/ucanbebox" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a></li>
					<li><a href="https://www.facebook.com/pages/Ucanbe/664572716907516?ref=br_tf" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a></li>
					<li><a href="http://ucanbe.tumblr.com" class="btn btn-default btn-lg"><i class="fa fa-tumblr fa-fw"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- Contact info -->

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li><a href="about.html">About</a></li>
					<li>&sdot;</li>
					<li><a href="contact.html">Contact</a></li>
					<li>&sdot;</li>
					<li><a href="privacy.html">Privacy</a></li>
					<li>&sdot;</li>
					<li><a href="terms.html">Terms</a></li>
				</ul>
				<p class="copyright text-center medium">Copyright &copy; <a href="http://learningedgelabs.com/">Learning Edge Labs</a> 2014. All Rights Reserved.</p>
				<p class="copyright text-center medium">Made in NYC.</p>
			</div>
		</div>
	</div>
</footer>


<!--js-->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<!-- Mixpanel Events --> 
<script type="text/javascript">
    mixpanel.track("<%= yield(:title) %> Page Loaded")
</script>






