<div class="well">
	<form accept-charset="UTF-8" action="/mcsubscribe/subscribe" data-remote="true" id="mcsubscribe" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div> 
		<div class="form-group">	
			<label for="email">Join our update list and be the first to learn about new path types.</label> 
			<input id="email" name="email[address]" placeholder="Email Address" type="email" class="form-control" />
			<div id="response"></div>
		</div>
  	<input class="btn btn-primary clearfix" name="commit" type="submit" value="Get Updates" />
  	</form>
</div>