<div class="row">
    <div class="col-md-12">
        <h3>Choose a Plan</h3>
    </div>
</div>
<div class="pricingtable">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placedog.com/300/200" alt="...">
            </div>
            <h5>$29/Month</h5>
            <h5>Monthly Subscription</h5>
            <%= link_to "Purchase", "#", class: "btn btn-primary" %> 
            <p>billed monthly</p>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placedog.com/300/200" alt="...">
            </div>
            <h5>$23/Month</h5>
            <h5>3 Months Subscription</h5>
            <%= link_to "Purchase", "#", class: "btn btn-primary" %> 
            <p>pay upfront</p>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placedog.com/300/200" alt="...">
             </div>
             <h5>$19/Month</h5>
             <h5>6 Month Subscription</h5>
             <%= link_to "Purchase", "#", class: "btn btn-primary" %> 
             <p>pay upfront</p>     
        </div>
    </div>
</div>
