<div class="row">
    <div class="col-md-12">
        <h3>Choose a Plan</h3>
    </div>
</div>
<div class="pricingtable">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="pricingunit">
                <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
                <h5>$29/Month</h5>
                <h5>Monthly Subscription</h5>
                <%= link_to "Purchase", "https://app.moonclerk.com/pay/2cwwx0c0tb0", class: "btn btn-primary" %> 
                <p>billed monthly</p>
            </div>
        </div>
        <!--<div class="col-sm-6 col-md-4">
            <div class="pricingunit">
                <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
                <h5>$23/Month</h5>
                <h5>3 Months Subscription</h5>
                <%= link_to "Purchase", "https://app.moonclerk.com/pay/1q9w2yboeh0", class: "btn btn-primary" %> 
                <p>pay upfront</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="pricingunit">
                <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
                <h5>$19/Month</h5>
                <h5>6 Month Subscription</h5>
                <%= link_to "Purchase", "https://app.moonclerk.com/pay/251lm18kfih", class: "btn btn-primary" %> 
                <p>pay upfront</p>  
            </div>   
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="pricingfooter">Free shipping. Plans automatically renew. Cancel anytime.</p>
        </div>
    </div>
</div>
