<div class="pricingtable">
    <div class="row">
        <div class="col-md-12">
            <h3>Subscribe</h3>
        </div>
    </div>
    <div class="row">
        <div class="pricingunit">
            <div class="col-md-12">
                <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
                <h5>$29.95/Month</h5>
                <h5>Monthly Subscription</h5>
                <%= link_to "Purchase", "https://app.moonclerk.com/pay/2cwwx0c0tb0", class: "btn btn-primary" %> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pricingfooter">
            <div class="col-md-12">
                <p>Free shipping. Billed monthly. Cancel anytime.</p>
            </div>
        </div>
    </div>
</div>
