<div class="row">
	<div class="col-md-12">
		<h3>Steps to Sparking Genius</h3>
	</div>
</div>
<div class="productsteps">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="productunit">
				<h5>1. Subscribe</h5>
			  <p><%= link_to "Sign Up", static_pages_littlebits_path %> for one of our subscription packages. Cancel anytime.</p>
			  <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
		  </div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="productunit">
				<h5>2. Get The Box</h5>
			  <p>We ship our boxes to your door on the 15<sup>th</sup> of each month.</p>
			  <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
		  </div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="productunit">
			  <h5>3. Spark Genius</h5>
			  <p>Do the monthly activity with your child and spark their unique genius.</p>	  	
			  <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
		  </div>
		</div>
	</div>
</div>