<div class="productsteps">
	<div class="row">
		<div class="col-md-12">
			<h3>How it works</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="productunit">
				<!--<img src="" class="img-responsive" alt="...">-->
				<h5>1. Choose Lesson Path</h5>
			  <p>Chose what type of projects to receive. If you don't already have the toy platform, order a starter kit directly from us.</p>
		  </div>
		</div>
		<div class="col-sm-4">
			<div class="productunit">
				<!--<img src="" class="img-responsive" alt="...">-->
				<h5>2. Subscribe</h5>
			  <p>Subscribe to a monthly plan to get project kits delivered to your door each month. You can cancel anytime.</p>
		  </div>
		</div>		
		<div class="col-sm-4">
			<div class="productunit">
				<!--<img src="" class="img-responsive" alt="...">-->			
				<h5>3. Get The Kit</h5>
			  <p>We ship our kits on the 15<sup>th</sup> of each month with all the materials you'll need.</p>
		  </div>
		</div>
	</div>
</div>