<div class="productsteps">
	<div class="row">
		<div class="col-md-12">
			<h3>How it works</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="productunit">
				<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-toolkit.jpg" class="img-responsive" alt="Choose Tech Toolkit">
				<h5><i class="fa fa-wrench"></i> Choose tech toolkit</h5>
			  <p>Chose what type of projects to receive and what tech toolkit you want to use. If you don't already have the toolkit, order a starter kit directly from us.</p>
		  </div>
		</div>
		<div class="col-sm-4">
			<div class="productunit">
				<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-subscribe.jpg" class="img-responsive" alt="Subscribe to Monthly Kits">
				<h5><i class="fa fa-refresh"></i> Subscribe to monthly kits</h5>
			  <p>Subscribe to a monthly plan to get project kits delivered to your door each month. You can cancel anytime.</p>
		  </div>
		</div>		
		<div class="col-sm-4">
			<div class="productunit">
				<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-getatdoor.jpg" class="img-responsive" alt="Get at Home">		
				<h5><i class="fa fa-truck"></i>	Get them at your front door</h5>
			  <p>We ship our kits on the 15<sup>th</sup> of each month with additional toolkit parts and any other materials you'll need.</p>
		  </div>
		</div>
	</div>
</div>