<div class="productsteps">
	<div class="row">
		<div class="col-md-12">
			<h3>How it works</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="productunit">
				<h4><i class="fa fa-wrench"></i> Get Your Toolkit</h4>
				<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-toolkit.jpg" class="img-responsive" alt="Choose Tech Toolkit">
			  <p>We build projects and curriculum of existing technology. If you don't already have the a starter kit, order one from us.</p>
		  </div>
		</div>
		<div class="col-sm-4">
			<div class="productunit">
				<h4><i class="fa fa-refresh"></i> Subscribe to monthly kits</h4>
				<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-subscribe.jpg" class="img-responsive" alt="Subscribe to Monthly Kits">
			  <p>Subscribe to the monthly plan for your toolkit and get project kits delivered to your door each month. You can cancel anytime.</p>
		  </div>
		</div>		
		<div class="col-sm-4">
			<div class="productunit">
				<h4><i class="fa fa-truck"></i>	Get them at your front door</h4>
				<img src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-getatdoor.jpg" class="img-responsive" alt="Get at Home">		
			  <p>We ship our kits on the 15<sup>th</sup> of each month with additional toolkit parts and any other materials you'll need.</p>
		  </div>
		</div>
	</div>
</div>