<div class="productsteps">
	<div class="row">
		<div class="col-md-12">
			<h3>How it works</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="productunit">
				<!--<img src="" class="img-responsive" alt="...">-->
				<h5>1. Choose Box Type</h5>
			  <p>Choose which type of box you want to receive each month.</p>
		  </div>
		</div>
		<div class="col-sm-4">
			<div class="productunit">
				<!--<img src="" class="img-responsive" alt="...">-->
				<h5>2. Subscribe</h5>
			  <p>Fill out the order form to subscribe. You can cancel anytime.</p>
		  </div>
		</div>		
		<div class="col-sm-4">
			<div class="productunit">
				<!--<img src="" class="img-responsive" alt="...">-->			
				<h5>3. Get The Box</h5>
			  <p>We ship our boxes to your door with all the materials you'll need on the 15<sup>th</sup> of each month.</p>
		  </div>
		</div>
	</div>
</div>